<% if current_cart %>
  <%= link_to "Cart", cart_path(current_cart) %>
<% end %><br><br>

<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>&nbsp;
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= "$#{item.price.fdiv(100)}" %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>